[Desktop Entry]
Name=BlockCraft
GenericName=BlockCraft
Comment=Singleplayer and Multiplayer infinite-world block sandbox
Exec=blockcraft
Icon=freeminer
Terminal=false
Type=Application
Categories=Game;
StartupNotify=false
